{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css"/>
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<div>
				<h2>Page de connexion</h2>
			</div>
			<div>
				<form action="" method="post">
					<div>
						<label for="siret">Votre siret</label>
						<input type="text" name="siret" id="siret"></input>
				</div>
				<p>{{error.siret}}</p>
				<div>
					<label for="password">Votre mot de passe</label>
					<input type="password" name="password" id="password"></input>
			</div>
			<p>{{error.password}}</p>
			<div>
				<button type="submit">Se connecter</button>
			</div>
		</form>
	</div>
</section></main>{% endblock %}
