{% block style %}
    <link rel="stylesheet" href="/assets/css/style.css" />
{% endblock %}

<header>
    <nav>
        <ul>
            {% if chef %}
                <li><a href="/logout">Déconnexion</a></li>
                <li><a href="/addpc">Ajouter un pc</a></li>
                <li><a href="/addemploye">Ajouter un employé</a></li>
            {% else %}
                <li><a href="/register">Inscription</a></li>
                <li><a href="/login">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>